* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    width: 100%;
    min-height: 100vh;  
    display: flex;
    justify-content: center; 
    align-items: center;   
    background-color: beige;
}

.container {
    font-family: cursive;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}