.container {display: inline-block;}

.text {
  font-size: 5em;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 10px;
  border-right: 5px solid #333;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  color: #333;
  text-align: center;
  margin-top: 20px;
  animation: 
    typing 2s steps
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color: transparent;}
}

@keyframes typing {
    from {width: 0;}
}